div(class='header')
	div(class='logo-group')
		a(
		class='logo-a'
		href="/"
		) Народный умелец
	div(class='search-group')
		div(class='search-wrap')
			form
				select(class='search-select')
					option Клиенты
					option Заказы
				input(
				class='search-input'
				type='text'
				)
				i(class="fas fa-search search-btn")