@import '/css/fonts.css';

* {
	padding: 0;
	margin: 0;
	font-family: Roboto;
	color: #ffffff;
}

* a {
	text-decoration: none;
}

.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
}

* li {
	list-style-type: none;
}

.wraper{
	margin: 0 auto;
	width: 1200px;
	height: 100%;
 	position: relative;

}

.test {
	position: absolute;
	left: 0;
	right: 0;
	top: 50px;
	bottom: 0;
}
/*--------------------------------HEADER CSS START-------------------------------------*/

.header {
	display: flex;
	background-color: #277047;
	height: 50px;
	align-items: center;
}

.logo-a {
	margin-left: 30px;
	text-transform: uppercase;
}

.search-wrap {
	margin-left: 60px;
	padding: 5px;
	border-radius: 5px;
	background-color: #74B38F;

}

.search-select {
	border: none;
	height: 20px;
	background-color: #74B38F;
}

.search-input {
	border: none;
	height: 20px;
	background-color: #74B38F;
	outline: none;
}

.search-btn {
	padding-left: 10px;
}

/*--------------------------------HEADER CSS END-------------------------------------*/

/*--------------------------------LEFT MENU CSS START--------------------------------*/
.left-menu {
	display: flex;
}

.left-menu a{
	color: black;
}

.menu-group {
	display: flex;
	flex-direction: column;
	padding: 15px 15px 0 30px;
}

.menu-ul {
	/*	margin-top: 15px;*/
}

.menu-li {
	margin-bottom: 10px;

}

.new-client-wrap {
	align-items: center;
}

.new-client-i {
	padding: 10px;
	border: 1px solid black;
}

/*--------------------------------LEFT MENU CSS END  --------------------------------*/

/*--------------------------------FOOTER CSS START  ---------------------------------*/

.footer {
	background-color: #546096;
	height: 100px;
}

/*--------------------------------FOOTER CSS END  -----------------------------------*/

/*--------------------------------CLIENTELE LIST CSS END ----------------------------*/

.tadle-wrap{
	margin: 0 auto;
}

.tadle-wrap a{
	color: black;
}

.table-index {
	background-color: #6a636f;
}

.table-row {
	background-color: #b7a8c1;
}

.table-row:hover {
-webkit-box-shadow: inset 0px 0px 9px -4px rgba(0,0,0,1);
-moz-box-shadow: inset 0px 0px 9px -4px rgba(0,0,0,1);
box-shadow: inset 0px 0px 9px -4px rgba(0,0,0,1);
}
.cell {
	display: flex;
	width: 150px;
	height: 30px;
	justify-content: center;
	align-items: center;
}

/*--------------------------------CLIENTELE LIST CSS START  -------------------------*/
